<table style="border: 1px solid black;">
<tr>
  <th>ID</th>
  <th>C_ID</th>
  <th>Name</th>
  <th>Email</th>
  <th>Phone</th>
  <th>Salary</th>
  <th>Designation</th>
  <th>Street</th>
  <th>City</th>
  <th>Pin</th>
  <th>Actions</th>

</tr>
<% @employees.each do |employee| %>
<tr>
  <td><%=employee.id%></td>
  <td><%=employee.company_id%></td>
  <td><%= employee.name%></td>
  <td><%= employee.email%></td>
  <td><%= employee.phone%></td>
  <td><%= employee.salary%></td>
  <td><%= employee.designation%></td>

  <td><%= employee.address.street%></td>
  <td><%= employee.address.city%></td>
  <td><%= employee.address.pincode%></td>
  <td><%= link_to 'Edit',edit_company_employee_path(employee)%></td>
  <td><%= link_to 'Show',employee_path(employee)%></td>
  <td><%= link_to 'Delete',employee_path(employee),method:"DELETE"%></td>
</tr>
<% end %>

</table>
<%=link_to 'Create new',new_employee_path %>
