<h1>Create New</h1>

<%=form_for @company,url:companies_path do |f| %>
    <%= f.label :name %>           <!--label_for attribute :name!-->
    <%= f.text_field :name,placeholder:"Name" %>

    <%= f.fields_for :address,nil do |t|%>
      <%= t.label :street %>           <!--label_for attribute :name!-->
      <%= t.text_field :street,placeholder:"Street" %>

      <%= t.label :city %>           <!--label_for attribute :name!-->
      <%= t.text_field :city,placeholder:"City" %>

      <%= t.label :pincode %>           <!--label_for attribute :name!-->
      <%= t.text_field :pincode,placeholder:"Pincode" %>

    <%end%>
    <%= f.submit "Create Record"%>

<%end%>
