<div>
  <div>
<table>
<tr>
  <th>ID</th>
  <th>Name</th>
  <th>Street</th>
  <th>City</th>
  <th>Pin</th>
  <th>Action</th>
</tr>

<tr>
  <td><%= @company.id%></td>
  <td><%= @company.name%></td>
  <td><%= @company.address.street%></td>
  <td><%= @company.address.city%></td>
  <td><%= @company.address.pincode%></td>
  <td><%= link_to 'Edit',edit_company_path(@company)%></td>
  <td><%= link_to 'Show Users',company_employees_path(@company)%></td>
  <td><%= link_to 'Delete',company_path(@company),method:"DELETE"%></td>
</tr>
</table>

  </div>
</div>
