<table style="border: 1px solid black;">
<tr>
  <th>ID</th>
  <th>R_ID</th>
  <th>R_type</th>
  <th>Street</th>
  <th>City</th>
  <th>Pin</th>
</tr>
<% @addresses.each do |address| %>
<tr>
  <td><%=address.id%></td>
  <td><%=address.resource_id%></td>
  <td><%= address.resource_type%></td>
  <td><%= address.street%></td>
  <td><%= address.city%></td>
  <td><%= address.pincode%></td>
</tr>
<% end %>
</table>
